[submodule "SOURCES/qmtech-c5soc-kfb-dual-sdram-ghrd"]
	path = SOURCES/qmtech-c5soc-kfb-dual-sdram-ghrd
	url = https://github.com/monkstein88/qmtech-c5soc-kfb-dual-sdram-ghrd.git
	branch = main
[submodule "SOURCES/u-boot-socfpga"]
	path = SOURCES/u-boot-socfpga
	url = https://github.com/monkstein88/u-boot-socfpga.git
	branch = socfpga_v2024.07_qmtech_c5soc_kfb_dual_sdram
[submodule "SOURCES/linux-socfpga"]
	path = SOURCES/linux-socfpga
	url = https://github.com/monkstein88/linux-socfpga.git
	branch = socfpga-6.6.22-lts_qmtech_c5soc_kfb_dual_sdram
